// output: ../../index.html, pretty: false;

doctype html
html(lang="en")
    head
        title Adam Trager
        link(rel="shortcut icon" href="./favicon.ico" type="image/x-icon")
        link(rel="icon" href="./favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Assistant:600")
        link(rel="stylesheet" type="text/css" href="./newsite/css/styles.css")
    body
        .wrapper
            h1.a Bear with me, making some updates.
            h1.b In the meantime, here's my 
                a(href="./pdf/adamTrager_resume.pdf" target="_blank") resume
                |.
            h1.c Or you can give me a call at 
                a.phone(href="tel:19735080667") 973-508-0667
                |.
// You must be a developer. If you're wondering, this site was written in Jade and Sass with the Bourbon library. No Javascript.
