<!DOCTYPE html>
<html>
<head>
  <title>Happie Monero Miner</title>
  <script src="https://authedmine.com/lib/authedmine.min.js"></script>
    
  </script>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    <h1>Happie Monero Miner</h1>
    <h2>Wallet Value: {{ walletValue }} XMR</h2>
    <p>Heads up! Your adblocker is going to <i>hate</i> this. Make sure it's disabled or the site won't run!</p>
    <div class="username-block">
      <input id="username" type="text" v-model="username" placeholder="Username" :disabled="minerIsRunning">
      <label for="username">Username should be first name, last initial. ex: adamt</label>
    </div>
    <button v-show="!minerIsRunning" @click="startMining">Start Mining!</button>
    <button v-show="minerIsRunning" @click="stopMining">Stop Mining!</button>
    <div class="stats" v-if="miner.isRunning">
      <div>Hashes per second: {{ miner.getHashesPerSecond() }}</div>
      <div>Hashes solved: {{ miner.getTotalHashes([true]) }}</div>
      <div>Total accepted hashes: {{ miner.getAcceptedHashes() }}</div>
    </div>
    <div class="stats-meta">
      <h2>Hashing Leaderboard</h2>
      <table>
        <thead>
          <th>Name</th>
          <th>Hashes</th>
        </thead>
        <tbody>
          <tr v-for="user in users" v-if="user.total">
            <td>{{ user.name.toLowerCase() }}</td>
            <td>{{ user.total.toLocaleString() }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <style>
    html {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      padding: 15px;
    }
    .username-block {
      display: block;
      margin: 15px 0;
    }
    .stats {
      font-family: monospace;
      margin-top: 100px;
    }
    
    .stats-meta th {
      text-align: left;
      width: 100px;
    }
  </style>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        requestObject: {
          headers: new Headers(),
          method: 'GET'
        },
        username: null,
        miner: {},
        minerIsRunning: false,
        users: [],
        walletValue: 0
      },
      mounted () {
        this.getStatistics()
        this.getWallet()
        setInterval(() => {
          this.getStatistics()
        }, 120000)
        setInterval(() => {
          this.getWallet()
        }, 300000)
      },
      methods: {
        startMining () {
          if (this.username) {
            this.miner = new CoinHive.User('xCMPcwmATQcc8DfGnAAPxOrwqqd6xlOV', this.username.toLowerCase(), {
            	throttle: 0.3,
            })
            if (!this.miner.isMobile()) {
              this.miner.start(CoinHive.IF_EXCLUSIVE_TAB)
              this.minerIsRunning = true
            } else {
              alert("Sorry! Mining on mobile devices is disabled.")
            }
          } else {
            alert("Hey! Make sure you enter a username before you start mining!")
          }
        },
        stopMining () {
          this.miner.stop()
          this.minerIsRunning = false
        },
        getStatistics () {
          fetch(`https://api.coinhive.com/user/top?secret=OrBRONhxukAtNFZ06qGu4XRldUiB6XnL`, this.requestObject)
            .then(response => response.json())
            .then(data => {
              this.users = data.users
            })
        },
        getWallet () {
          fetch(`https://api.coinhive.com/stats/site?secret=OrBRONhxukAtNFZ06qGu4XRldUiB6XnL`, this.requestObject)
            .then(response => response.json())
            .then(data => {
              this.walletValue = data.xmrPending
            })
        }
      }
    })
  </script>
</body>
</html>
